---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Model3 from "../components/Model3.astro";
import ModelX from "../components/ModelX.astro";
import ModelYSection from "../components/ModelYSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla Page">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center relative">
			<ModelYSection />
		</div>
		<div class="snap-center relative">
			<Model3 />
		</div>
		<div class="snap-center relative">
			<ModelX />
		</div>


	</main>
</Layout>

<style></style>
