<section class="landing-section bg-black h-screen w-full text-center overflow-hidden"
data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-[116px] text-[40px] font-medium">
                Model Y
            </h2>
            <p class="text-black text-xl">
                Desde $31,490
            </p>
            <p class="text-black text-sm font-light">
                Programe una prueba de conduccion hoy mismo
            </p>
        </header>
        <footer
            class="flex flex-col flex-grow justify-end pb-28 text-white"
        >
            <div class="flex justify-center gap-x-4">
                <a
                    href=""
                    class="border-1 bg-white/20 backdrop-blur-3xl rounded font-medium text-black px-10 py-2 hover:bg-black hover:text-white transition-colors"
                >
                    Explorar inventario
                </a>
                <a
                href=""
                class="border-1 bg-black/20 backdrop-blur-3xl rounded font-medium text-white px-10 py-2 hover:bg-white hover:text-black transition-colors"
            >
                Pedido Personalizado
            </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img src="/car.avif" alt="Imagen de Modeyl Y"
        class="h-full w-full object-cover object-center">
    </div>
</section>